.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  p {
    font-size: 30px;
  }

  h1 {
    color: red;
  }

  div {
    border: 1px dotted black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 700px;
    margin: 10px;
    text-align: center;
  }
}

.card {
  width: 10rem;
  text-align: center;
  background-color: lightgray;
  border: 1px solid black;
}
.card > span {
  color: orange;
}
.card :last-child {
  color: red;
}
.avatar {
  font-size: 4rem;
}
